body {
	background-color: #10898d;
	color: #cccccc;
	font-family: Courier New;
	text-align: center;
}
.controls {
	font-size: 30px;
	padding-top: 50px;
}

.stopwatch {
	font-size: 60px;
}

a {
	text-decoration: none;
	color: #cccccc;
	margin: 10px;
}

ul {
	text-align: center;
	list-style: none;
	padding: 0;
}
